<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>

<main class="main-content index_container">
    <h1> Quiz Completion </h1>
    <h1>Streak:  <%= savingStreak %></h1>
    <div class="navigation__container">
        <a href="/">
           Go Back To Home
        </a>
        <a href="/quiz">
            Start Quiz
        </a>
    </div>
</main>

</body>
</html>