<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>


<h1>Leaderboard</h1>
<ul>
    <br/>
    <br/>
    <% leaderboard.forEach(function(leaderboard) { %>
        <li><%= leaderboard.numberOfQuestions %> - <%= leaderboard.date %></li>
    <% }); %>

</ul>

</body>
</html>